APP_ENV=development
APP_PORT=8080

DB_HOST=127.0.0.1
DB_PORT=3307
DB_NAME=booking_db
DB_USER=booking_user
DB_PASSWORD=CHANGE_THIS_PASSWORD
DB_ROOT_PASSWORD=CHANGE_THIS_ROOT_PASSWORD

JWT_SECRET=CHANGE_THIS_TO_RANDOM_STRING_MIN_32_CHARS
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=168h